.shipping{
    color:#566374;
    background:#fff;
    font-family:-apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
    width: 95%;
    min-height: calc(100vh - 80px);
    padding: 30px 40px;
    margin: 26px 33px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 16%);

    .shipping-container{
        .title {
            font-size: 1.4em;
            font-weight: 500;
            color: #566374;
        }

        hr {
            margin: 10px auto;
        }

        .form-input{

            .option-shipping{
                margin-left: 30px;
                margin-top: 20px;

                input[type=checkbox]{
                    height: 0;
                    width: 0;
                    visibility: hidden;
                }
                
                label {
                    cursor: pointer;
                    text-indent: -9999px;
                    width: 200px;
                    height: 100px;
                    background: grey;
                    display: block;
                    border-radius: 100px;
                    position: relative;
                }
                
                label:after {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    width: 90px;
                    height: 90px;
                    background: #fff;
                    border-radius: 90px;
                    transition: 0.3s;
                }
                
                input:checked + label {
                    background: #bada55;
                }
                
                input:checked + label:after {
                    left: calc(100% - 5px);
                    transform: translateX(-100%);
                }
                
                label:active:after {
                    width: 130px;
                }
            }
        }

        .address-information{
            margin-top: 20px;
            padding: 0;

            .address-footer{
                margin-top: 20px;
                margin-left: 160px;
                .btn-back{
                    background-color: #fff;
                    color: #0795df;
                    width: 150px;
                    height: 40px;
                    border: 1px solid #0795df;
                    margin-right: 20px;
                    &:focus {
                        border: 1px solid #0795df;
                    }
                }

                .btn-complete {
                    background-color: #0795df;
                    color: #fff;
                    width: 150px !important;
                    box-shadow: 0 2px 8px rgb(0 0 0 / 16%);
                    height: 40px;
                }
            }
        }
    }
}