.registerdone-container {
    padding: 28px 25px 28px;
    background-image: url(/static/assets/img/login-bg.jpg);
    box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    .registerdone-content {
        color: #000;
        background: #fff;
        box-shadow: 0 2px 8px rgb(0 0 0 / 16%);
        font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
        height: 100%;
        width: 40vw;
        padding: 40px;
        font-size: 14px;
        margin: 0 auto;
        
        .header{
            color: #555;
            height: 15%;
            .lead{
                margin-top: 10px;
                margin-bottom: 0;
                font-weight: 400;
            }
            .notify-email{
                margin: 0;
            }
        }

        .img-done{
            height: 80%;

            img{
                height: 100%;
            }
        }

        .check-mail{
            font-size: 17px;
            color: #555;
            height: 5%;
        }
    }
}